/*this is a comment*/
/*--------------Define Global Css--------------*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000000;
    line-height: 1.5;
    margin: 0;
}

/*--------------Define Default Global Font Size--------------*/

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/*font-size defaults to 16px*/
/*people don't always use underlines on links, use underline if with other non-underlined content*/
/*by default links ALWAYS have an underline and are bright blue/purple*/

a {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

/*how to get underline to disappear or show*/

a:hover {
    text-decoration: underline;
}

/*--------------Define Global Helper Style--------------*/

.center {
    text-align: center;
}

/* default margin was 24*/


.link {
    text-decoration: underline;
}

/*this is an ACTION for the LINK class not a new class*/
.link:hover {
    text-decoration: none;
}

.normal {
    font-weight: normal;
}
.side-margin {
    margin: 0 6%;
}
/*if you are using zero as a measurement you JUST write 0*/



/*--------------Define Navigation Styles--------------*/

/*if we didn't define the background color, it would be transparent*/
nav {
    background-color: #ffffff;
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-end;
    /*this right-aligns it*/
    padding-right: 20px;
    position: sticky;
    top: 0;
}

/*if you say JUST padding or JUST margin it will put equal amount around the whole thing*/
.nav-link {
    display: flex;
    padding: 20px;
}

/*--------------Define Hero Styles--------------*/

.hero-container {
    background-color: #C3C8B9;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

/*40% 60% is good ratio for image/text in hero*/

.hero-container_img {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /*removing white space from below my hero image
    display: block; <- don't use will break flex
    vertical-align: bottom;*/
}

/*look for this class THEN look for the image inside - won't target ALL images*/
.hero-container_img img {
    width: 100%;

}

/*padding can be in pixels or percents, percents are more fluid*/
.hero_container-copy {
    width: 60%;
    padding: 5%;
}

.hero-container_sub-copy {
    font-weight: 400;
}

/*-------------Define Card Styles---------------*/

.bold {
    font-weight: 700;
}

.card-container {
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* can take out later but this will help cards not spread as much*/
    max-width: 1600px;
}

.card {
    background-color: #fff;
    width: 25%;
    margin: 40px;

}

.card img {
    width: 100%;
}

.card a:hover {
    text-decoration: none;
}

.card-copy {
    text-align: center;
    padding: 0 0 20px 0;
}

.padding {
    padding-bottom: 20px;
}

/*sometimes things don't do what you need them to, in some code she will write !important which will be at the end of the string before semi-colon doesn't work in html*/

/*--------------Define Button Styles--------------*/

.button {
    background-color: #62645E;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    padding: 13px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    border: solid;
    color: #62645E;
    background-color: #fff;
}


/*--------------Define Footer Styles--------------*/
.footer-container {
    background-color: #C3C8B9;
    padding: 29px;
    text-align: center;
}

.footer-container a:hover {
    text-decoration: none;
}

.footer-h2 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.footer-copy {
    font-size: 16px;
    font-style: italic;
}

.footer-img {
    padding: 6px;
    width: 36px;
}

.copyright {
    font-size: 10px;
    margin: 16px 16px 19px 16px;
}





/*------------------------------------Case Study Template ----------------------------*/

.landing-container {
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 0 10% 5% 10%;

}

.landing-container_img {
    width: 50%;

}

.landing-container_img-full {
    margin-left: auto;
    margin-right: auto;
    padding: 0 3%;
}

.landing-container_img img {
    max-width: 100%;
}

/*look for this class THEN look for the image inside - won't target ALL images*/
.landing-container_img-full img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*padding can be in pixels or percents, percents are more fluid*/
.landing_container-copy-half {
    width: 50%;
    margin: 3%;
    /*padding: 3%;*/

}
.small-image img {
    width: 60%;


}
.landing_container-copy-full {
    width: 100%;
    margin: 3% 6%;
    /*padding: 3%;*/

}

.landing-container_img70 {
    width: 70%;
}
.landing-container_img70 img {
    max-width: 100%;
}
.landing-container_copy30 {
    width: 30%;
}

/*.landing_container-copy-half h2 {
    text-align: center;

}*/

.background-color {
    background-color: #f3f3f3;
    /*padding-bottom: 1%;*/
    padding-top: 1%;
    margin-bottom: 5%;
}

.margin-zero {
    margin: 0;
}

td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
  }
  
/*--------------Define Media Queries-------------*/
/* look into rim or responsive fonts*/
/* on small devices she usually does min width 100%, bigger is often max*/

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 19px;
        text-align: center;
    }

    p {
        font-size: 14px;
    }

    .hero-container_img {
        width: 50%;
    }

    .hero-container_copy {
        width: 50%;
    }

    .card {
        width: 50%
    }

    .card img {
        width: 100%;
    }

    .landing-container {
        display: flex;
        flex-direction: column;
    }

    .landing-container_img {
        width: 100%;
    }

    /*padding can be in pixels or percents, percents are more fluid*/
    .landing_container-copy-half {
        width: 100%;
    }
    .small-image img {
        width: 40%;  
    }
}

@media screen and (max-width: 768px) {
    nav {
        margin-right: 0;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    .nav-link {
        padding: 15px;
    }

    a {
        font-size: 14px;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
    }

    .hero-container_img {
        min-width: 100%;
    }

    .hero-container_img img {
        display: none;
    }

    .hero-container_copy {
        min-width: 100%;
        margin: 20px;
        padding: 0;
        text-align: center;
    }

    .card {
        width: 100%
    }

    .card img {
        width: 100%;
    }

    .landing-container {
        display: flex;
        flex-direction: column;
    }
}